
################################################################################
# Added by UiPath Studio
# Prevent caching and local artifacts from being committed
################################################################################
.local
.settings
.objects
################################################################################
# End of UiPath Studio common ignores
################################################################################
